footer {
  background-color: #383838;
  color: #fff; }

body {
  font-size: 16px;
  color: #383838; }

h1 {
  font-size: 25px; }

p {
  font-size: 16px; }

#header {
  height: 50px;
  text-align: center;
  box-shadow: 2px 2px 5px #ccc; }
  #header .navbar {
    background-color: #fff; }
  #header .navbar-toggle {
    border: 0; }
  #header a {
    color: #383838; }
  #header .navbar-brand {
    padding: 0;
    margin: 4px 15px;
    vertical-align: middle;
    height: 40px;
    width: 90px; }
  #header .header-logo {
    height: 40px;
    width: 90px; }

.register {
  width: 100%;
  height: 200px;
  text-align: center; }
  .register > * {
    margin: 30px auto; }

.how-work, .time {
  width: 100%;
  height: 500px;
  text-align: center; }
  .how-work hr, .time hr {
    margin-top: -5px;
    width: 60%; }

.time {
  height: 500px;
  margin: 20px auto; }
  .time hr {
    margin-top: -1px;
    margin-bottom: 5px;
    padding: 0; }
  .time h3 {
    padding: 0 10px;
    margin-bottom: 5px; }
  .time .social-time {
    width: 40%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between; }
    .time .social-time a {
      color: #383838; }
  @media only screen and (min-width: 768px) {
    .time .card {
      width: 50%; } }
  @media only screen and (min-width: 1024px) {
    .time .card {
      width: 30%;
      transition: all 1s; }
      .time .card:hover {
        width: 60%;
        transform: scale(0.8);
        transition: all 1s; } }

footer {
  text-align: center;
  padding: 30px 0; }

.form-contact {
  text-align: left; }

.contact-address {
  display: table;
  margin: 10px auto; }
  .contact-address > .item-address {
    display: table;
    margin-bottom: 23px; }
    .contact-address > .item-address > p, .contact-address > .item-address > i {
      display: table-cell; }
    .contact-address > .item-address > i {
      width: 50px; }
    .contact-address > .item-address > p {
      width: 275px;
      text-align: left;
      font-size: 14px; }

.social {
  display: block;
  margin: 10px 0; }
  .social > a {
    margin: 0 1em;
    color: #fff; }

.private-policy {
  display: block;
  font-size: 14px;
  margin-top: 20px; }
  .private-policy > a {
    text-decoration: none;
    color: #fff; }

.btn-form {
  width: 100%;
  height: 40px;
  position: relative;
  margin-left: auto;
  margin-right: auto; }

@media only screen and (min-width: 768px) {
  .btn-form {
    float: left;
    width: 30%; } }
@media only screen and (min-width: 992 px) {
  textarea.form-control {
    min-height: 2em; }

  .btn-form {
    width: 20%; } }
.btn-register, .btn-login {
  background-color: #F1927C;
  color: #fff;
  border: none;
  position: relative;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  box-shadow: 1px 1px 2px #ccc; }

.btn-register {
  margin: 30px auto;
  padding: 10px 24px;
  transition: 0.5s;
  background-color: #ec6c4e;
  box-shadow: 2px 2px 2px #ccc; }
  .btn-register:hover {
    text-decoration: none;
    color: white;
    background-color: #ea5837;
    box-shadow: 5px 5px 5px #ccc;
    transition: 0.5s; }

.btn-login {
  padding: 8px 25px;
  transition: 0.5s;
  background-color: #F1927C; }
  .btn-login:hover {
    text-decoration: none;
    color: white;
    background-color: #ec6c4e;
    box-shadow: 5px 5px 5px #ccc;
    transition: 0.5s; }

.go-top {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: fixed;
  bottom: 5%;
  right: 5%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: #fff;
  box-shadow: 1px 1px 5px #383838;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  vertical-align: middle;
  cursor: auto; }
  .go-top > * {
    margin: auto auto; }
  .go-top:hover {
    box-shadow: 2px 2px 10px #383838;
    transition-duration: 0.2s; }

.card {
  width: 90%;
  height: auto;
  min-height: 200px;
  margin: 10px auto;
  border: none;
  box-shadow: 1px 1px 1px 1px #ccc; }

.card-cover {
  width: 100%;
  height: 60%;
  padding: 15px 0; }
  .card-cover > img {
    max-width: 150px;
    height: 150px;
    margin: 0 auto; }

.card-content {
  width: 100%;
  height: 40%; }
  .card-content > * {
    padding: 20px 0; }

/*# sourceMappingURL=style.css.map */
