%button {
  background-color: $color-btn-home;
  color: #fff;
  border: none;
  position: relative;
  padding: 10px 24px;  
  text-align: center;
  text-decoration: none;
  box-shadow: 1px 1px 2px #ccc;
}

.btn-register {
  @extend %button;
  margin: 30px auto;
  padding: 10px 24px;
  transition: 0.5s;
  background-color: $color-btn-home;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: darken($color: $color-btn-home, $amount: 10%);
    box-shadow: 5px 5px 5px #ccc;
    transition: 0.5s;
  }
}

.go-top {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: fixed;
  bottom: 5%;
  right: 5%;  
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: #fff;
  box-shadow: 1px 1px 5px $color-text-default;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  vertical-align: middle;
  cursor: auto;

  > * {
    margin: auto auto;
  }

  &:hover {
    box-shadow: 2px 2px 10px $color-text-default;
    transition-duration: 0.2s;
  }  
}
