.card {
  width: 90%;
  height: auto;
  min-height: 200px;
  margin: 10px auto;
  border: none;
  box-shadow: 1px 1px 1px 1px #ccc;
}

.card-cover {
  width: 100%;
  height: 60%;
  padding: 15px 0;

  > img {
    max-width: 150px;
    height: 150px;
    margin: 0 auto;
  }
}

.card-content {
  width: 100%;
  height: 40%;

  > * {
    padding: 20px 0;
  }
}

.card-time {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 20px auto;
  text-align: center;
  font-family: arial;
  float: left;

  .card-time-title {
    color: $color-text-default;
    font-size: 18px;
  }

  img {
    width: 100%;
  }

  .social-time {
    width: 40%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    
    a {
      color: $color-text-default;
      text-decoration: none;
      font-size: 22px;
    }
  }
}
