$color-text-default: #383838;
$color-text-gray: #000000;
$color-btn-home: #F1927C;

%negative {
  background-color: $color-text-default;
  color: #fff;
}

%color-footer-title {
  color: $color-text-gray;
}
