%button {
  background-color: $color-btn-home;
  color: #fff;
  border: none;
  position: relative;
  padding: 10px 24px;  
  text-align: center;
  text-decoration: none;
  box-shadow: 1px 1px 2px #ccc;
}

.btn-register {
  @extend %button;
  margin: 30px auto;
  padding: 10px 24px;
  transition: 0.5s;
  background-color: darken($color: $color-btn-home, $amount: 10%);
  &:hover {
    text-decoration: none;
    color: white;
    background-color: darken($color: $color-btn-home, $amount: 20%);
    box-shadow: 5px 5px 5px #ccc;
    transition: 0.5s;
  }
}

.btn-to-top {
  @extend %button;
  display: fixed;
}
